@import url(../../variables.css);

.musical-profile-root {
    min-height: 100vh;
    height: fit-content;
    width: auto;
    background-color: #8FCED9;
    display: flex;
    align-items: center;
}

.musical-profile-heading {
    margin-left: 4vw;
    padding-top: 2vh;
    width: auto;
    height: 80px;
}

.musical-profile-heading .text strong{
    color: var(--off-white-color);
    margin-left: 6px;
    /* font-size: 4vw; */
    font-size: clamp(25px, 4vw, 40px);
}

.musical-profile-heading .under-bar{
    margin-left: 10px;
    width: 75px;
    height: 3px;
    margin-bottom: 0px;
    background-color: var(--off-white-color);
}

.musical-profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    width: 100%;
}

.musical-attribute {
    margin-left: 4vw;
}

.musical-profile-content .scale-bar {
    width: 80%;
    height: 7px;
    background-color: var(--off-white-color);
}

/* text settings */
.musical-profile-root strong {
    color: var(--off-white-color);
    font-size: 25px;
}

.musical-profile-root p{
    color: var(--off-white-color);
}