@import url(../../variables.css);

.musical-profile-root {
    min-height: 100vh;
    height: fit-content;
    width: auto;
    /* background-color: #8FCED9; */
    background-color: #4faebf;
    display: flex;
    align-items: center;
}

.musical-profile-heading {
    margin-left: 4vw;
    padding-top: 2vh;
    width: auto;
    height: 80px;
}

.musical-profile-heading .text strong{
    color: var(--off-white-color);
    margin-left: 6px;
    /* font-size: 4vw; */
    font-size: clamp(25px, 4vw, 40px);
}

.musical-profile-heading .under-bar{
    margin-left: 10px;
    width: 75px;
    height: 3px;
    margin-bottom: 0px;
    background-color: var(--off-white-color);
}

.musical-profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 88vh;
    height: fit-content;
    width: 100%;
}

.musical-attribute {
    margin-left: 4vw;
    height: 150px;
}
.musical-scale {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}
.musical-attribute .scale-bar {
    position: relative;
    width: 88%;
    height: 6.5px;
    background-color: var(--off-white-color);
}
.musical-attribute .scale-markers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}
.musical-attribute .scale-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--off-white-color);
}

/* user position on scale */
.user-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    z-index: 4;
    padding: 10px;
}
.user-position .user-info {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-position .user-icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: 50%;
    border-radius: 50rem;
    background-color: var(--primary-color-6);
    z-index: 2;
}
.user-position .user-name {
    margin-top: 40px;
    opacity: 0;
    color: var(--off-white-color);
    font-size: 13px;
    font-weight: 550;
    text-align: center;
    z-index: 4;
}
.user-info:hover {
    cursor: pointer;
}
.user-info:hover .user-name {
    opacity: 1;
}
/* .user-position .user-stat {
    margin-top: 30px;
    opacity: 0;
    color: var(--off-white-color);
    font-size: 15px;
    font-weight: 550;
    text-align: center;
}
.user-info:hover .user-stat {
    opacity: 1;
} */

/* text settings */
.musical-profile-root strong {
    color: var(--off-white-color);
    font-size: 25px;
    margin-left: 6px;
}

.musical-profile-root p{
    color: var(--off-white-color);
    margin-left: 6px;
    font-weight: 400;
}

.scale-point h5 {
    color: var(--off-white-color);
    margin-top: 20px;
    font-size: 15px;
    font-weight: 550;
}