@import url(../../variables.css);

.musical-profile-root {
    min-height: 100vh;
    height: fit-content;
    width: auto;
    background-color: #79cced;
    display: flex;
    align-items: center;
}

.musical-profile-heading {
    margin-left: 4vw;
    padding-top: 2vh;
    width: auto;
    height: 80px;
}

.musical-profile-heading .under-bar{
    margin-left: 10px;
    width: 75px;
    height: 3px;
    margin-bottom: 0px;
    background-color: var(--off-white-color);
}

.musical-profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 88vh;
    height: fit-content;
    width: 100%;
}

.musical-attribute {
    margin-left: 4vw;
    min-height: 150px;
    height: fit-content;
    margin-bottom: 15px;
}
.musical-scale {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}
.musical-attribute .scale-bar {
    position: relative;
    width: 88%;
    height: 6.5px;
    background-color: var(--off-white-color);
}
.musical-attribute .scale-markers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}
.musical-attribute .scale-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--off-white-color);
}

/* user position on scale */
.user-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    z-index: 4;
    padding: 10px;
}
.user-position .user-info {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-position .user-icon {
    height: 50px;
    width: 50px;
    opacity: 0.9;
    object-fit: cover;
    object-position: 50%;
    border-radius: 50rem;
    background-color: var(--primary-color-6);
    z-index: 2;
    opacity: 0.7;
}

.user-info:hover .user-icon {
    opacity: 1;
    cursor: default;
    filter: drop-shadow(0px 2px 2px var(--primary-color-2));
}

.user-position .user-name {
    margin-top: 45px;
    opacity: 0;
    width: 100px;
    height: fit-content;
    color: var(--off-white-color);
    font-size: 13px;
    font-weight: 550;
    text-align: center;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-info:hover {
    cursor: default;
    z-index: 99;
}
.user-info:hover .user-icon {
    opacity: 1;
}
.user-info:hover .user-name {
    opacity: 1;
}

/* text settings */
.musical-profile-root strong {
    color: var(--off-white-color);
    font-size: clamp(17px, 2.5vw, 25px);
    margin-left: 6px;
}

.musical-profile-heading .text strong{
    color: var(--off-white-color);
    margin-left: 6px;
    /* font-size: 4vw; */
    font-size: clamp(25px, 4vw, 40px);
}

.musical-profile-root p{
    color: var(--off-white-color);
    margin-left: 6px;
    font-weight: 400;
    font-size: clamp(13px, 1.5vw, 20px);
}

.scale-point h5 {
    color: var(--off-white-color);
    margin-top: 20px;
    font-size: 15px;
    font-weight: 550;
}

@media (max-height: 800px) {
    .musical-profile-heading {
        padding-top: 1vh;
    }
    .musical-profile-content {
        min-height: 95vh;
    }
}

.up-arrow {
    fill: white;
    width: calc(24px + 1.5vw);
    align-self: center;
    z-index: 4;
    transition: 0.2s;
}

.up-arrow:hover {
    fill: var(--blue-color-1);
    cursor: pointer;
    filter: drop-shadow(0px 1px 1px var(--blue-color-2));
}

@media (max-width: 480px) {
    .musical-profile-content {
        justify-content: flex-start;
    }
    .mp-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 88vh;
    }
    .mp-carousel {
        height: 95%;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mp-carousel .carousel-inner {
        height: 100%;
        width: 80%;
    }
    .mp-carousel .carousel-item {
        width: 100%;
        height: 100%
    }
    .musical-attribute {
        margin-left: 0px;
        min-height: 0px;
        height: 95%;
        margin-bottom: 0px;
    }
    .musical-scale {
        position: relative;
        height: 90%;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
        align-items: center;
    }
    .musical-attribute .scale-bar {
        position: relative;
        width: 6.5px;
        height: 88%;
        background-color: var(--off-white-color);
    }
    .musical-attribute .scale-markers {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 88%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
    }
    .musical-attribute .scale-point {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--off-white-color);
    }
    
    /* user position on scale */
    .user-position {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 88%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        z-index: 4;
        padding: 10px;
    }
    .user-position .user-info {
        position: absolute;
        width: fit-content;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .user-position .user-icon {
        height: 50px;
        width: 50px;
        opacity: 0.8;
        object-fit: cover;
        object-position: 50%;
        border-radius: 50rem;
        background-color: var(--primary-color-6);
        z-index: 2;
    }
    .user-position .user-name {
        margin-top: 0px;
        margin-left: 65px;
        opacity: 0;
        color: var(--off-white-color);
        font-size: 13px;
        font-weight: 550;
        text-align: left;
        z-index: 4;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);
    }
    .user-info:hover {
        cursor: pointer;
        z-index: 5;
    }
    .user-info:hover .user-icon {
        opacity: 1;
    }
    .user-info:hover .user-name {
        opacity: 1;
    }
    
    /* text settings */
    .musical-profile-root strong {
        color: var(--off-white-color);
        font-size: clamp(17px, 2.5vw, 25px);
        margin-left: 6px;
    }
    
    .musical-profile-heading .text strong{
        color: var(--off-white-color);
        margin-left: 6px;
        /* font-size: 4vw; */
        font-size: clamp(25px, 4vw, 40px);
    }
    
    .musical-profile-root p{
        color: var(--off-white-color);
        margin-left: 6px;
        margin-bottom: 0px;
        font-weight: 400;
        font-size: clamp(13px, 1.5vw, 20px);
    }
    
    .scale-point h5 {
        color: var(--off-white-color);
        margin-top: 0px;
        margin-left: -45px;
        font-size: 15px;
        font-weight: 550;
    }
}