@import url(../variables.css);

.playlist-landing-root {
    width: auto;
    min-height: 100vh;
    height: fit-content;
    background-color: var(--primary-color-main);
}

.playlist-page-content {
    display: flex;
    /* height: 90vh; */
    width: auto;
    align-items: center;
    justify-content: center;
}

.playlist-page-name {
    margin-left: 4vw;
    margin-bottom: 2vh;
}

.playlist-components {
    padding-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.playlist-page-tracks-container {
    margin-left: 2vw;
    background: rgba(154, 154, 154, 0.25);
    border-radius: 15px;
    width: 425px;
    height: max(55vh, 475px);
}

.landing-root-error {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-root-base {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrong-playlist {
    font-size: 2vw;
    color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.wrong-playlist .return-button {
    margin-top: 20px;
    display: flex;
    padding-right: 15px;
    padding-left: 10px;
    border-radius: 20px;
    background-color: var(--blue-color-main);
    font-size: clamp(12px, 1.75vw, 25px);
    color: var(--off-white-color);
    align-items: center;
}
.return-button:hover {
    text-decoration: none;
    background-color: var(--blue-color-5);
    cursor: pointer;
}

.contributor-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vw;
    margin-bottom: 2vw;
    justify-content: center;
    width: 100%;
}

.contributor-container {
   position: relative;
   align-items: center;
   width: auto;
}

.contributor-icon {
    height: clamp(40px, 7.5vw, 60px);
    width: clamp(40px, 7.5vw, 60px);
    object-fit: cover;
    object-position: 50%;
    border-radius: 50rem;
    transition: opacity 0.45s;
    margin: 2px;
    background-color: var(--primary-color-main);
}

.contributor-name {
    font-size: clamp(7px, 1.75vw, 11px);
    color:transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.45s;
    text-align: center;
}

.contributor-container:hover .contributor-icon {
    opacity: 0.6;
    cursor: pointer;
}

.contributor-container:hover .contributor-name {
    color: var(--off-white-color);
    cursor: pointer;
}

.error-return-arrow {
    width: 28px;
    height: 28px;
    margin-right: 3px;
}

.pp_backArrow{
    fill: var(--primary-color-main);
    margin-left:2vw;
    color: var(--primary-color-main);
    text-align: center;
}

.pp_backArrow:hover{
    cursor: pointer;
    fill: var(--blue-color-6);
    color: var(--blue-color-6);
    text-decoration: none;
}
.pp_backArrow-dark {
    fill: var(--off-white-color);
    margin-left:2vw;
    color: var(--off-white-color);
    text-align: center;
}

.pp_backArrow-dark:hover{
    cursor: pointer;
    fill: var(--blue-color-1);
    color: var(--blue-color-1);
    text-decoration: none;
}

.pp_backArrow_svg{
    height:2vw;
    width:2vw;
    padding-right: 2px;
}

.backToProfile {
    margin-top: 3vh;
}

@media (max-width: 820px) {
    .playlist-components {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .playlist-page-tracks-container {
        background-color: transparent;
        justify-content: center;
        margin-left: 0px;
    }   
    .playlist-page-name {
        width: 425px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .loading-message {
        font-size: 3.5vw;
    }
    .wrong-group {
        font-size: 3.5vw;
    }
    .return-button {
        font-size: 3vw;
    }
    .pp_backArrow_svg{
        height:35px;
        width:35px;
    }
    .contributor-component{
        justify-content: flex-start;
        margin-left: 10px;
    }
}