/* CSS variables */
@import url(../../variables.css);

h1{
    color: white;
}

.search-bar{
    color: white;
}

.search-bar{
    background: url(./search.svg) left center no-repeat;
    padding: 25px;
}

.input-search{
    background-color: transparent;
    border-color: transparent;
    color: white;
}

input::placeholder{
    color: var(--neutral-color-7);
    background: 
      linear-gradient(var(--neutral-color-7), var(--neutral-color-7)) center bottom 0/100% 1px no-repeat;
}

input:focus{
    outline: var(--neutral-color-7);
}

.groupButton{
    width: 10rem;
    padding-left: 0px;
    background-color: transparent;
    color: white;
    outline-color: transparent;
}

.groupToggle{
    background-color:transparent;
    color: white;
    outline-color: transparent;
    
}

.modal-body{
    border-radius: 1.05rem;
}

.in-modal{
    text-align: center;
    background-color: var(--blue-color-1);
}

.btn-in-modal{
    background-color: var(--blue-color-main);
    color: white;
    border-radius: 0.75rem;
    border-color: transparent;

}

.btn-in-model .continue-button{
    width: 6rem;
}

.btn-in-model .leave-buttons{
    width: 10rem;
}

.modal-text{
    padding: 0.75rem;
}

.modal-text .pad-below{
    padding-bottom: 2rem;
}