/* CSS variables */
@import url(../../variables.css);

h1{
    color: white;
}

.search-bar{
    color: white;
}

.search-bar{
    background: url(./search-icon.svg) left center no-repeat;
    padding: 25px;
}

.input-search{
    background-color: transparent;
    border-color: transparent;
    color: white;
}

input::placeholder{
    color: var(--neutral-color-7);
    background: 
      linear-gradient(var(--neutral-color-7), var(--neutral-color-7)) center bottom 0/100% 1px no-repeat;
}

input:focus{
    outline: var(--neutral-color-7);
}
.group-list{
    color:white;
}

.group-item{
    margin: 0.25rem;
}