/* CSS variables */
@import url(../../variables.css);

.YourGroupsBox{
    margin: 10px;
}

h1{
    color: white;
}

.search-bar{
    color: white;
}

.group-list{
    color:white;
}

.input-search{
    background-color: transparent;
    border-color: transparent;
    color: white;
}

input::placeholder{
    color: var(--neutral-color-7);
    background: 
      linear-gradient(var(--neutral-color-7), var(--neutral-color-7)) center bottom 0/100% 1px no-repeat;
}

input:focus{
    outline: none;
}