@import url(../../variables.css);

.playlist-root {
    width: auto;
    background-color: transparent;
}

.playlist-root .playlist-button {
    background-color:  rgb(126, 42, 42);
    border-color: rgb(131, 46, 46); 
    color: white;
}

.playlist-root .btn-sm {
    padding: 0.40rem 0.95rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 1.05rem;
}

.playlist-root .btn {
    font-weight: 800;
    font-size: 1rem;
    transition: color 0.35s
}

.playlist-page-cover-container {
    width: auto;
    height: auto;
    margin-bottom: min(2.5vw, 2.25rem);
}

.title-container {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.white {
    color: white;
    font-size: 3rem;
    font-weight: 450;
    text-align: center;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    font-weight: 550;
}
