@import url(../../variables.css);

.playlist-info-root {
    width: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playlist-info-root .playlist-button {
    background: var(--blue-color-main); 
    color: white;
    height: 33px;
    align-items: center;
}

.playlist-info-root .btn-sm {
    padding: 0.2rem 0.95rem;
    line-height: 1.5;
    border-radius: 1.05rem;
}

.playlist-info-root .btn {
    font-weight: 800;
    font-size: clamp(0.85rem, 1.75vw, 1rem);
    transition: color 0.35s
}
.playlist-info-root .btn:hover {
    /* margin-left: 6px; */
    background: var(--blue-color-5);
    color: white;
}

.playlist-page-cover-container {
    width: auto;
    height: auto;
    margin-bottom: min(2.25vw, 2.25rem);
}

.playlist-page-cover {
    width: 225px;
    height: 225px;
    border-radius: 15px;
}

.playlist-info-save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    margin-left: 6px;
    font-size: 5rem;
    margin-bottom: 0.2rem;
}

.playlist-info-root .white {
    color: var(--off-white-color);
    font-size: clamp(25px, 4.25vw, 50px);
    font-weight: 550;
}
.playlist-info-root .dark {
    color: var(--primary-color-6);
    font-size: clamp(25px, 4.25vw, 50px);
    font-weight: 550;
}
.playlist-info-root .created-date-dark {
    margin-left: 6px;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--neutral-color-5);
}
.playlist-info-root .created-date {
    margin-left: 6px;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--primary-color-2);
}
.save-error .error-alert {
    margin-top: 10px;
}
.save-error .error-alert .alert {
    height: 50px;
    width: 235px;
}

@media (max-width: 820px) {
    .playlist-info-root {
        flex-direction: row;
        margin-bottom: 20px;
        justify-content: start;
        margin-left: 15px;
    }
    .playlist-info-root .playlist-button {
        height: 30px;
    }
    .playlist-page-cover-container{
        margin-bottom: 0px;
    }
    .playlist-page-cover {
        width: 125px;
        height: 125px;
    }
    .playlist-info-save {
        justify-content: start;
        align-items: flex-start;
        margin-left: 3vw;
    }
    .save-error .error-alert .alert {
        position: absolute; 
        display: flex;
        height: 30px;
        align-items: center;
        margin-bottom: 0px;
        width: 185px;
    }
    .save-error .error-alert .alert p {
        font-size: 12px;
        margin: 0px;
    }
}
@media (max-width: 400px) {
    .playlist-page-cover {
        width: 90px;
        height: 90px;
    }
    .playlist-info-save .created-date {
        font-size: 12px;
    }
    .playlist-info-root .white {
        font-size: 20px;
    }
    .playlist-info-root .btn {
        font-size: 12px;
    }
    .playlist-info-root .playlist-button {
        background: var(--blue-color-main); 
        color: white;
        height: 26px;
        align-items: center;
    }

}