@import url(../variables.css);

.overlay {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(4, 4, 8, 0.85); 
  z-index: 99; 
  color: var(--off-white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.overlay-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.overlay-text {
  font-size: calc(20px + 1.5vw);
}

.back-link {
  color: var(--blue-color-2);
  font-size: calc(12px + 0.5vw);
}

.back-link:hover {
  color: var(--blue-color-5);
}

@media (max-width: 480px) {
  .overlay-row {
    margin-left: 5vw;
  }
}