@import url(../variables.css);

.group-landing-root {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: var(--primary-color-main);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.group-info-root {
    position: relative;
    background-color: var(--primary-color-main);
    min-height: 100vh;
    height: fit-content;
}
.group-landing-root .navbar {
    position: relative;
    z-index: 6;
    animation-name: navbaropacity;
    animation-duration: 3s;
}
.group-landing-root .main-column-box {
    height: clamp(110px, 9vh, 150px);
    width: 50vw;
    background-color: var(--primary-color-main);
    position: absolute;
    z-index: 2;
}

.landing-root-error {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-root-base {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrong-group {
    font-size: 2vw;
    color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    animation-name: wrong-group;
    animation-duration: 0.1s;
}
.wrong-group .return-button {
    margin-top: 20px;
    display: flex;
    padding-right: 15px;
    padding-left: 10px;
    border-radius: 20px;
    background-color: var(--blue-color-main);
    font-size: clamp(12px, 1.75vw, 25px);
    color: var(--off-white-color);
    align-items: center;
}
.return-button:hover {
    text-decoration: none;
    background-color: var(--blue-color-5);
    cursor: pointer;
}

.error-return-arrow {
    width: 28px;
    height: 28px;
    margin-right: 3px;
}

.group-profile-page-components {
    width: 100vw;
    height: fit-content;
}

.component-box {
    position: relative;
    height: min(8vh, 50px);
    width: 95vw;
    z-index: 5;
    background-color: var(--primary-color-main);
}

.group-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin-left: 4vw;
    height: clamp(55px, 9vw, 90px);
    width: 85%;
    z-index: 3;
}
.leave-group {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    height: 50px;
}
.leave-group h2 {
    color: var(--off-white-color);
    font-size: 20px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.leave-group .exit-icon {
    height: 50px;
    width: 25px;
    fill: var(--off-white-color);
}
.leave-group:hover {
    cursor: pointer;
}
.leave-group:hover h2 {
    color: var(--blue-color-1);
}
.leave-group:hover .exit-icon-part{
    fill: var(--blue-color-1);
}
.group-landing-root .info-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    width: 100vw;
    position: relative;
    z-index: 1;
}
.group-info-root .gp-scroll {
    position: absolute;
    display: flex;
    width: 10vw;
    min-width: fit-content;
    flex-direction: column;
    align-items: center;
    color: var(--neutral-color-5);
    font-size: clamp(15px, 1.25vw, 20px);
    font-weight: 550;
    right: 7%;
    bottom: 5%;
}
.group-info-root .gp-downArrow {
    height: clamp(25px, 1.5vw, 40px);
    width:  clamp(25px, 1.5vw, 40px);
    margin-top: 10px;
    fill: var(--neutral-color-5);
}
.group-info-root .gp-scroll:hover {
    animation: bounce 1.5s infinite;
    animation-timing-function: ease-in-out;
}

.member-display {
    position: relative;
    width: 45vw;
    max-height: 48vh;
    margin-left: 4vw;
    margin-bottom: 2vh;
    margin-top: clamp(90px, 10vh, 100px);
}
.playlist-carousel{
    position: relative;
    margin-top: clamp(40px, 4vh, 50px);
    margin-left: 4vw;
    /* margin-bottom: 16vh; */
    width: 45vw;
    animation-name: playlistanimation;
    animation-duration: 3.5s;
    animation-timing-function: cubic-bezier(0, 0.46, 0.74, 1.13);
}

.individual-comparisons {
    position: absolute;
    margin-top: 60px;
    margin-left: 55vw;
    margin-bottom: 2vh;
    z-index: 8;
    animation-name: insightanimation;
    animation-duration: 2.75s;
    animation-timing-function: cubic-bezier(0, 0.46, 0.74, 1.13);
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(-10px);
    }
}
@keyframes navbaropacity {
    from {
        background-color: var(--primary-color-main);
    }
    50% {
        background-color: var(--primary-color-main);
    }
    to {
        background-color: transparent;
    }
}

@keyframes playlistanimation {
    from {
        opacity: 0;
        transform: translateY(500px);
    }
    75% {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes insightanimation {
    from {
        opacity: 0;
        transform: translateX(500px);
    }
    75% {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes wrong-group {
    from {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 780px) {
    .individual-comparisons {
        position: relative;
        margin-left: 4vw;
        margin-top: 10px;
    }
    .member-display {
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 90vw;
    }
    .playlist-carousel {
        position: relative;
        margin-top: 2vh;
        margin-bottom: 3vh;
    }
    .group-name {
        position: relative;
        width: 90vw;
        height: fit-content;
    }
    .leave-group {
        height: 35px;
    }
    .leave-group .exit-icon {
        height: 25px;
        width: 20px;
    }
    .group-profile-page-components {
        align-items: start;
        justify-content: start;
    }
    .group-landing-root .main-column-box {
        height: 100px;
        width: 95vw;
        z-index: 2;
    }
    .group-profile-page-components .component-box {
        height: 10px;
    }
    .wrong-group {
        font-size: 3.5vw;
    }
    .return-button {
        font-size: 3vw;
    }
}
@media (max-height: 1200px) {
    .component-box {
        height: 2.5vh;
    }
}
@media (max-height: 720px) {
    .component-box {
        height: 5px;
    }
    .playlist-carousel {
        margin-bottom: 24vh;
    }
}