@import url(../variables.css);

.about-root {
    position: relative;
    z-index: 5;
    background-color: var(--blue-color-3);
}
.text-blurb {
    margin-top: 50px;
    width: 50vw;
    height: 100vh;
    margin-left: 4vw;
}

.display-babies {
    padding-top: 50px;
    width: 100vw;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

