@import url(../variables.css);

.text-blurb {
    margin-right: 4vw;
}

.display-babies {
    display: flex;
    margin-right: 2vw;
    margin-top: 20px;
    height: fit-content;
    justify-content: center;
}

.about {
    margin-left: 4vw;
    margin-top: 2vw;
}

.about-root {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: var(--primary-color-main);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

