@import url(../../variables.css);

.about-name-container {
    height: fit-content;
}

.about-name-container .big-text {
    color: var(--off-white-color);
    font-size: clamp(25px, 4vw, 40px);
}

.about-name-container .sub-text {
    color: var(--off-white-color);
    font-size: clamp(14px, 3vw, 20px);
}

.sub-text{
    margin-top: 18px;
    height: fit-content;
    margin-bottom: 0px;
}

.text-continued {
    margin-top: 0px;
}

.github-logo {
    width: clamp(14px, 3vw, 20px);
    height: clamp(14px, 3vw, 20px);
    margin-left: 8px;
}

.about-name-container .github-link {
    width: fit-content;
    fill: var(--blue-color-1);
    color: var(--blue-color-1);
    margin-top: 4px;
    display: inline;
}

.about-name-container .github-link:hover {
    fill: var(--blue-color-3);
    color: var(--blue-color-3);
}

.emailLink{
    color: var(--blue-color-1);
    display: inline;
}

.emailLink:hover {
    color: var(--blue-color-3)
}