
@import url(../../variables.css);

.playlist-container{
    width: 45vw;
    margin-right: auto;
    padding-right: 15px;
    background-color: transparent;
    max-height: 32vh;
}

.playlist-container .text{
    font-size: clamp(20px, 3vw, 30px);
    color: var(--off-white-color);
}

.addPlaylist-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 0.5vw;
}

.covers{
    display: flex;
    align-items: flex-start;
    padding-top: 0.5vw;
}

.plus-symbol{
    height: 2vw;
    width: 2vw;
    color: white;
}

.addButton{
    display: flex;
    height: clamp(65px, 7.5vw, 100px);
    width: clamp(65px, 7.5vw, 100px);
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: #494a4e;
    cursor: pointer;
}

.display-playlists{
    display: flex;
    flex-direction: row;
    max-height: 24vh;
    width: 100%;
}

.playlistcover-container{
    margin: 0.5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(65px, 7.5vw, 100px);
}

.playlistcover-container:hover .playlist-links {
    text-decoration: none;
}

.playlistcover{
    height: clamp(65px, 7.5vw, 100px);
    width: clamp(65px, 7.5vw, 100px);
    object-fit: cover;
    object-position: 50%;
    border-radius: 15%;
    cursor: pointer;
}

.playlist-name{
    color: var(--off-white-color);
    cursor: pointer;
    font-size: min(1vw, 20px);
}

.playlistcover-container:hover .playlist-name {
    color: var(--blue-color-1);
}

.addPlaylist-container:hover .playlist-name {
    color: var(--blue-color-1)
}

/*customize scroll bar */
.display-playlists::-webkit-scrollbar{
    width: 6px;
    height: 0.5vw;
}
.display-playlists::-webkit-scrollbar-track {
    background-color: black;
    opacity: 0.6;
    border-radius: 10px;
}
.display-playlists::-webkit-scrollbar-thumb {
    background-color: var(--blue-color-3);
    border-radius: 10px;
}

.carousel {
    width: 110px;
}

.carousel .carousel-inner{
    width: 35vw;
}

.carousel .carousel-control-prev{
    position: absolute;
    top: -42px;
    width: auto;
    height: 1.5rem;
    margin-left: max(5%, 45px);
}

.carousel .carousel-control-next{
    position: absolute;
    top: -42px;
    width: auto;
    height: 1.5rem;
}

/* modal css */

.playlistModal h4 {
    font-size: 18px;
}
.modal-content .playlistModal{
    height: fit-content;
}
.select-playlist-users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}
.select-a-user {
    background-color: var(--off-white-color);
    width: fit-content;
    color: var(--primary-color-main);
    margin: 4px;
    border-radius: 20px;
}
.select-a-user:hover {
    cursor: pointer;
}
.select-a-user:active {
    background-color: var(--primary-color-1);
}
.select-a-user strong {
    margin: 10px;
}
.name-the-playlist {
    margin-top: 20px;
}
.name-input {
    width: 275px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
}
.name-input::placeholder{
    color: var(--off-white-color);
    font-weight: 400;
    text-align: center;
}
.generate-button {
    margin-top: 30px;
}

@media (max-width: 780px) {
    .playlist-container{
        width: 90vw;
    }
    .playlist-name{
        font-size: 12px;
    }
    .addPlaylist-container{
        font-size: 12px;
    }
    .display-playlists{
        justify-content: flex-start;
    }
    .carousel .carousel-inner{
        width: 75vw;
    }
    .carousel .carousel-control-prev{
        top: -35px;
    }
    .carousel .carousel-control-next{
        top: -35px;
    }
}



