
@import url(../../variables.css);

.playlist-container{
    width: 45vw;
    margin-right: auto;
    padding-right: 15px;
    background-color: transparent;
    max-height: 32vh;
}

.playlist-container .text{
    font-size: clamp(20px, 3vw, 30px);
    color: var(--off-white-color);
}

.addPlaylist-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 0.5vw;
}

.covers{
    display: flex;
    align-items: flex-start;
    padding-top: 0.5vw;
}

.plus-symbol{
    height: 2vw;
    width: 2vw;
    color: white;
}

.addButton{
    display: flex;
    height: clamp(65px, 7.5vw, 100px);
    width: clamp(65px, 7.5vw, 100px);
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: #494a4e;
    cursor: pointer;
}

.display-playlists{
    display: flex;
    flex-direction: row;
    max-height: 24vh;
    width: 100%;
}

.playlistcover-container{
    margin: 0.5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(65px, 7.5vw, 100px);
}

.playlistcover-container:hover .playlist-links {
    text-decoration: none;
}

.playlistcover{
    height: clamp(65px, 7.5vw, 100px);
    width: clamp(65px, 7.5vw, 100px);
    object-fit: cover;
    object-position: 50%;
    border-radius: 15%;
    cursor: pointer;
}

.playlist-name{
    color: var(--off-white-color);
    cursor: pointer;
    font-size: min(1vw, 20px);
}

.playlistcover-container:hover .playlist-name {
    color: var(--blue-color-1);
}

.addPlaylist-container:hover .playlist-name {
    color: var(--blue-color-1)
}

/*customize scroll bar */
.display-playlists::-webkit-scrollbar{
    width: 6px;
    height: 0.5vw;
}
.display-playlists::-webkit-scrollbar-track {
    background-color: black;
    opacity: 0.6;
    border-radius: 10px;
}
.display-playlists::-webkit-scrollbar-thumb {
    background-color: var(--blue-color-3);
    border-radius: 10px;
}

.playlist-carousel-carousel {
    width: 110px;
}

.playlist-carousel-carousel .carousel-inner{
    width: 35vw;
}

.playlist-carousel-carousel .carousel-control-prev{
    position: absolute;
    top: -30%;
    left: 150%;
    width: 2rem;
    height: 2rem;
    margin-left: max(5%, 45px);
    z-index: 2;
}

.playlist-carousel-carousel .carousel-control-next{
    position: absolute;
    top: -30%;
    right: -300%;
    width: 2rem;
    height: 2rem;
    z-index: 2;
}

.carousel .carousel-indicators {
    position: absolute;
    top: -27%;
    left: 200%;
    z-index: 1;
    width: max(5vw, 180px);
    height: 1vw;
}

/* modal css */
.generate-playlist-title {
    display: flex;
    flex-direction: row;
}
.playlistModal h2 {
    color: var(--primary-color-main);
}
.playlistModal h4 {
    margin-top: 12px;
    margin-left: 6px;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--primary-color-main);
    font-weight: 520;
}
.playlistModal .generate-step {
    color: var(--blue-color-main);
}
.playlist-add-modal .modal-dialog .modal-content{
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-align: center; */
    background-color: var(--off-white-color);
    width: 500px;
}
.playlist-add-modal .cancel-generate {
    position: absolute;
    right: 5%;
    height: 15px;
    width: 15px;
}
.playlist-add-modal .cancel-generate:hover{
    cursor: pointer;
}
.select-playlist-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px; */
}
.select-playlist-users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.select-a-user {
    background-color: var(--primary-color-1);
    width: fit-content;
    height: 30px;
    text-align: center;
    color: var(--off-white-color);
    margin: 4px;
    border-radius: 20px;
}
.select-a-user:hover {
    cursor: pointer;
}
.select-a-user strong {
    vertical-align: middle;
    margin: 15px;
}
.select-all-users {
    background-color: var(--primary-color-1);
    width: fit-content;
    height: 30px;
    color: var(--off-white-color);
    margin: 4px;
    margin-bottom: 15px;
    border-radius: 20px;
}
.select-all-users:hover {
    cursor: pointer;
}
.select-all-users strong {
    vertical-align: middle;
    margin: 15px;
}
.name-the-playlist {
    display: flex;
    /* margin-top: 20px; */
}
.name-playlist {
    display: flex;
    justify-content: center;
}
.name-input {
    width: 350px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    color: var(--blue-color-main);
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    align-items: center;
}
.name-input::placeholder{
    color: var(--primary-color-main);
    font-weight: 450;
    text-align: center;
}
.generate-playlist {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.generate-button {
    margin-top: 7.5px;
    border-radius: 20px;
    background-color: var(--blue-color-main);
    /* background-color: #1DB954; */
}
.generate-button strong {
    color: var(--off-white-color);
}
.playlistModal button {
    border-color: transparent;
    width: 200px;
    height: 42px;
    font-size: 20px;
    filter: drop-shadow(0 1mm 1mm var(--primary-color-main));
}

/* top tracks and moods */
.playlist-generation-options .playlist-options {
    color: var(--neutral-color-7);
    text-align: center;
}
.playlist-options:hover {
    cursor: pointer;
}
.option-container {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.toptracks-option {
    text-align: center;
    width: 47%;
    padding: 5px;
    border-radius: 20px;
}
.option-container p {
    font-size: 14px;
    margin-bottom: 2px;
    text-align: center;
}
.mood-options {
    width: 47%;
    padding: 5px;
    border-radius: 30px;
}
.collapse-content {
    min-height: 130px;
}
.vertical-line {
    background-color: var(--primary-color-main);
    width: 2px;
}
.mood-playlist-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist-mood {
    display: flex;
    flex-direction: row;
    width: 80px;
    padding: 2px;
    align-items: center;
}
.playlist-mood h5 {
    font-size: 15px;
    width: fit-content;
    margin-left: 5px;
    margin-bottom: 0px;
    vertical-align: middle;
}
.playlist-mood:hover {
    cursor: pointer;
}

@media (max-width: 780px) {
    .playlist-container{
        width: 90vw;
    }
    .playlist-name{
        font-size: 12px;
    }
    .addPlaylist-container{
        font-size: 12px;
    }
    .display-playlists{
        justify-content: flex-start;
    }
    .carousel .carousel-inner{
        width: 75vw;
    }
    .carousel .carousel-control-prev{
        top: -35px;
        left: 50%;
    }
    .carousel .carousel-control-next{
        top: -35px;
        right: -150%;
    }
    .carousel .carousel-indicators{
        height: 20px;
        width: 125px;
        top: -30px;
        left: 100%;
    }
}



