@import url(../../variables.css);

.background {
    width: auto;
    height: 100vh;
    background-color: var(--primary-color-main);
}
/*full container for members */
.member-container {
    width: 50vw;
    margin-left: 4vw;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
}
/*text container */
.d-flex {
    margin-bottom: 10px;
    align-items: center;
}
.add-member {
    margin-left: 20px;
    margin-top: 4px;
}
.add-member:hover {
    opacity: 0.7;
}
.text {
    color: var(--off-white-color);
    margin-top: 10px;
    margin-left: 9px;
    font-size: 1.85rem;
}
/*icons */
.icon-container{
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
    position: relative;
    text-align: center;
}
.user-icon {
    height: min(9vw,150px);
    width: auto;
    border-radius: 50rem;
}
.user-name {
    font-size: min(1.75vw,20px);
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-container:hover .user-icon {
    opacity: 0.4;
    transition-duration: 0.45s;
}

.icon-container:hover .user-name {
    color: var(--off-white-color);
    transition-duration: 0.45s;
}

/*adjust for different screen sizes */
@media (max-width: 800px) {
    .add-member {
        margin-top: 3px
    }
    .text {
        font-size: 1.65rem;
    }
    .member-container{
        width: 85vw;
    }
    .user-icon {
        height: 72px;
    }
    .user-name {
        font-size: 14px;
    }
}