@import url(../../variables.css);

.background {
    width: auto;
    height: 100vh;
    background-color: var(--primary-color-main);
}
/*full container for members */
.member-container {
    width: 50vw;
    margin-left: 8vw;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
}
/*text container */
.d-flex {
    margin-bottom: 10px;
    align-items: center;
}
.add-member {
    margin-left: 20px;
    margin-top: 4px;
}
.text {
    color: #fefffe;
    margin-top: 10px;
    margin-left: 9px;
    font-size: 2.15rem;
    font-weight: 500;
}
/*icons */
.icon-container{
    margin-bottom: 20px;
    margin-left: 9px;
    margin-right: 9px;
}
.user-icon {
    height: min(10vw,175px);
    width: auto;
    border-radius: 50rem;
}
.user-icon:hover {
    opacity: 0.4;
    transition-duration: 0.35s;
}

/*adjust for different screen sizes */
@media (max-width: 800px) {
    .add-member {
        margin-top: 3px
    }
    .text {
        font-size: 1.75rem;
    }
    .member-container{
        width: 85vw;
    }
    .user-icon {
        height: 80px;
    }
}