@import url(../../variables.css);

.group-name-container {
    width: auto;
    height: 80px;
}

.group-name-container .text {
    color: var(--off-white-color);
    margin-left: 6px;
    font-size: clamp(25px, 4vw, 40px);
    margin-bottom: 2px;
}
.group-name-container .created-date {
    margin-left: 6px;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--neutral-color-3);
}
.under-bar{
    margin-left: 10px;
    width: 75px;
    height: 3px;
    margin-bottom: 0px;
    background-color: var(--off-white-color);
}