/* CSS variables */
@import url(../variables.css);

.navbar-text {
    background-color: var(--primary-color-main);
    color: white;
}

.nav-item {
    color:white;
}

.dropdown-toggle {
    color: var(--blue-color-main); 
    color: white;
}

.nav-link {
    color: white;
}

.navbar {
    height: auto;
}

.container-fluid {
    height:fit-content;
}


  