/* CSS variables */
@import url(../variables.css);

.navbar-text {
    background-color: var(--blue-color-main);
    border-color: var(--blue-color-main);
    color: white;
}

.change-my-color {
    fill:white;
  }

.navbar-custom {
    height: 30px;
}