@import url(../../variables.css);

/*full container for members */
.member-container {
    width: 45vw;
    margin-right: 5vw;
    background-color: transparent;
}

/*text container */
.member-container .d-flex {
    background-color: var(--primary-color-main);
    margin-bottom: 3px;
    width: 55vw;
    align-items: center;
    position: relative;
    z-index: 7;
}
.add-member {
    margin-left: 15px;
    margin-top: 5px;
    height: 30px;
    transition: 0.45s;
}

/*add member button and popover */
.add-member:hover .add-member-icon {
    fill: var(--blue-color-1);
    cursor: pointer;
}

/*copy group code element */
.copy-code {
    display: flex;
    align-items: center;
    border-style: none;
    height: 26.67px;
}
.copy-button .clipboard {
    background-color: transparent;
    fill: var(--primary-color-main);
    height: 20px;
    transition: fill 0.25s ease-in-out;
    margin-left: 15px;
}
.copy-button:hover .clipboard {
    fill: var(--blue-color-main);
    cursor: pointer;
}

/*members text */
.member-container .d-flex .text {
    color: var(--off-white-color);
    margin-left: 6px;
    margin-bottom: 0px;
    font-size: clamp(20px, 3vw, 30px);
}
.member-container .compare-message {
    color: var(--blue-color-1);
    margin-left: 6px;
    margin-bottom: 0px;
    font-size: clamp(13px, 1.25vw, 18px);
    animation-name: comparemessage;
    animation-duration: 3s;
    z-index: 8;
}

@keyframes comparemessage {
    from {opacity: 0}
    75% {opacity: 0}
    to {opacity: 1}
}

/*icons */
.display-members {
    display: flex;
    width: 43vw;
    flex-wrap: wrap;
    max-height: 32.5vh;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    animation-name: displaymember;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0, 0.45, 0.88, 1.09);
}

@keyframes displaymember {
    from {transform: translateY(-50em)}
    to {transform: translateY(0em);}
}

/*customize scroll bar */
.display-members::-webkit-scrollbar{
    width: 7px;
    height: auto;
}
.display-members::-webkit-scrollbar-track {
    background-color: black;
    opacity: 0.6;
    border-radius: 10px;
}
.display-members::-webkit-scrollbar-thumb {
    background-color: var(--blue-color-3);
    border-radius: 10px;
}

/*custom scroll bar for firefox*/
.display-members {
    scrollbar-width: thin;
    scrollbar-color: var(--blue-color-3) black;
}

.icon-container {
    margin-top: 15px;
    margin-left: 6.5px;
    margin-right: 6.5px;
    position: relative;
    text-align: center;
}
.icon-container .user-icon {
    height: clamp(65px, 7.5vw, 100px);
    width: clamp(65px, 7.5vw, 100px);
    object-fit: cover;
    object-position: 50%;
    border-radius: 50rem;
    transition: opacity 0.45s;
    background-color: var(--primary-color-6);
    /* background-color: rgba(162,162,254,0.75); */
    /* ^ --blue-color-2 at 75% opacity ^ */
}
.icon-container .user-name {
    font-size: clamp(12px, 1.75vw, 17px);
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.45s;
}
.icon-container:hover .user-icon {
    opacity: 0.4;
    cursor: pointer;
}

.icon-container:hover .user-name {
    color: var(--off-white-color);
    cursor: pointer;
}

/* copy alert */
.d-flex .copy-alert {
    height: 35px;
    margin-left: 20px;
}
.d-flex .copy-alert .alert{
    position: absolute; 
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 0px;
}
.d-flex .copy-alert p {
    margin: 0px;
    font-size: 13px;
    text-align: center;
}

/*adjust for different screen sizes */
@media (max-width: 780px) {
    .member-container {
        width: 90vw;
    }
    .display-members {
        width: 90vw;
        max-height: 42vh;
    }
    .add-member {
        margin-top: 5px;
    }
    .member-comparison-flex .individual-comparisons {
        margin-top: 20px;
    }
    .member-container .d-flex {
        width: 90vw;
    }
}