@import url(../../variables.css);

/*full container for members */
.member-container {
    width: 45vw;
    margin-right: 5vw;
    margin-bottom: 10px;
    background-color: transparent;
}

/*text container */
.member-container .d-flex {
    background-color: var(--primary-color-main);
    margin-bottom: 10px;
    align-content: center;
    position: relative;
    z-index: 10;
}
.add-member {
    margin-left: 15px;
    margin-top: 7.25px;
    transition: opacity 0.45s;
}

/*add member button and popover */
.add-member:hover {
    opacity: 0.7;
    cursor: pointer;
}

/*copy group code element */
.copy-code {
    display: flex;
    align-items: center;
    border-style: none;
    height: 26.67px;
}
.copy-button .clipboard {
    background-color: transparent;
    fill: var(--primary-color-main);
    height: 20px;
    transition: fill 0.25s ease-in-out;
    margin-left: 15px;
}
.copy-button:hover .clipboard {
    fill: var(--blue-color-main);
    cursor: pointer;
}

/*members text */
.member-container .d-flex .text {
    color: var(--off-white-color);
    margin-left: 6px;
    font-size: 1.85rem;
}

/*icons */
.display-members {
    display: flex;
    width: 45vw;
    flex-wrap: wrap;
    max-height: 50vh;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    animation-name: displaymember;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, 0.45, 0.88, 1.09);
}

@keyframes displaymember {
    from {transform: translateY(-30em)}
    to {transform: translateY(0em);}
}

/*customize scroll bar */
.display-members::-webkit-scrollbar{
    width: 7px;
    height: auto;
}
.display-members::-webkit-scrollbar-track {
    background-color: black;
    opacity: 0.6;
    border-radius: 10px;
}
.display-members::-webkit-scrollbar-thumb {
    background-color: var(--blue-color-3);
    border-radius: 10px;
}

.icon-container {
    margin-top: 15px;
    margin-left: 6.5px;
    margin-right: 6.5px;
    position: relative;
    text-align: center;
}
.user-icon {
    height: min(9vw,110px);
    width: min(9vw,110px);
    object-fit: cover;
    object-position: 50%;
    border-radius: 50rem;
    transition: opacity 0.45s;
}
.user-name {
    font-size: min(1.75vw,20px);
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.45s;
}
.icon-container:hover .user-icon {
    opacity: 0.4;
    cursor: pointer;
}

.icon-container:hover .user-name {
    color: var(--off-white-color);
    cursor: pointer;
}

/*adjust for different screen sizes */
@media (max-width: 780px) {
    .member-container {
        width: 90vw;
    }
    .display-members {
        width: 90vw;
        max-height: 60vh;
    }
    .add-member {
        margin-top: 7.25px
    }
    .text {
        font-size: 1.65rem;
    }
    .user-icon {
        height: 64.8px;
        width: 64.8px;
    }
    .user-name {
        font-size: 12.6px;
    }
    .member-comparison-flex .individual-comparisons {
        margin-top: 20px;
    }
}