/* CSS variables */
@import url(../../variables.css);

.CreateOrJoinBox{
    padding-top: 25px;
}

.openCollapse{
    color: white;
    font-size: 1.25vw;
}

.openCollapse:hover{
    color: var(--blue-color-1);
    cursor:pointer;
}

.input{
    font-size: 1vw;
    width: 11em;
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 0.5em;
    background-color: transparent;
    border-color: transparent;
    color: white;
}

input::placeholder{
    color: var(--neutral-color-5);
    background: 
      linear-gradient(var(--neutral-color-7), var(--neutral-color-7)) center bottom 0/95% 1px no-repeat;
}

.arrow{
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    margin-bottom: 0.5vw;
}

.continue-arrow{
    margin-left:10px;
    fill: var(--off-white-color);
}

.continue-arrow:hover{
    fill: var(--blue-color-3);
}    

@media (max-width: 720px){
    .CreateOrJoinBox{
        width: 230px;
    }
    .openCollapse{
        font-size: 20px;
    }
    .input{
        font-size: 20px;
        width: 10em;
    }
    .arrow{
        width: 20px;
        height: 20px;
        padding-left: 0px;
    }
}