@import url(../../variables.css);

.top-tracks-root {
    height: 100vh;
    width: auto;
    background-color: var(--blue-color-main);
    display: flex;
    flex-direction: column;
}

.top-tracks-heading {
    margin-left: 4vw;
    padding-top: 2vh;
    width: auto;
    height: 80px;
}

.top-tracks-heading .text {
    color: var(--off-white-color);
    margin-left: 6px;
    font-size: 4vw;
    font-size: clamp(25px, 4vw, 40px);
}

.top-tracks-heading .under-bar{
    margin-left: 10px;
    width: 75px;
    height: 3px;
    margin-bottom: 0px;
    background-color: var(--off-white-color);
}

/* .top-tracks-root .all-group-tracks {
    width: 92vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */
.top-tracks-root .track-container h3 {
    width: 20px;
    font-size: 23px;
    transition: 0.3s;
}
.top-tracks-root .track-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    height: 100px;
    width: 370px;
    color: var(--off-white-color);
    background-color: #5858C5;
    border-radius: 35px;
    font-size: 18px;
}
.top-tracks-root .track-icon {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s;
}
.top-tracks-root .track-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: 240px;
    transition: 0.3s;
}
.top-track-root .track-info .track-title {
    font-size: clamp(10px, 3vw, 15px);
}
.top-tracks-root .track-artist {
    color: var(--blue-color-1);
    font-size: 14px;
    width: 17vw;
    transition: 0.3s;
}
.top-tracks-carousel {
    width: 100vw;
}
.top-tracks-carousel .carousel-inner{
    width: 90vw;
    display: flex;
}
.top-tracks-carousel .carousel-item {
    width: 90vw;
}
.top-tracks-carousel .group-tracks {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}