@import url(../variables.css);

.user-landing-root{
    background-color: var(--primary-color-main);
}

.userProfile-title {
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

 .userProfile-title-text{
    color: white;
    font-size: clamp(25px, 6vw, 50px);
}

.userProfile-title .under-bar{
    width: 15rem;
    height: 3px;
    margin-bottom: 0px;
    margin-top: 5px;
    background-color: white;
}

.quickStats{
    display: flex;
    width: 100vw;
    min-height: 60vh;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.UP_icon{
    width: fit-content;
    margin-left: 10vw;
}

.quickStats .user_icon{
    height: clamp(150px, 15vw, 500px);
    width: clamp(150px, 15vw, 500px);
    object-fit: cover;
    object-position: 50%;
    border-radius: 50rem;
    transition: opacity 0.45s;
    background-color: var(--primary-color-6);
}

.stats{
    height: fit-content;
    width: 60vw;
    margin-left: 5vw;
}

.stats_title{
    color: white;
    width: 100%;
    height: fit-content;
    font-weight: bolder;
    font-size: clamp(20px, 3vw, 35px);
}

.stats_sub_title{
    color: var(--blue-color-3);
    width: 100%;
    height: fit-content;
    font-size: clamp(18px, 1vw, 30px);
    margin-bottom: 1.5vw;
}

.columns{
    width: 100%;
    display: flex;
    font-size: clamp(20px, 2vw, 30px);
}

.column{
    width: 50%;
    margin-right: 2vw;
}

.open{
    display: flex;
    color: white;
}

.open:hover{
    color: var(--blue-color-main);
    cursor: pointer;
}

.UP_percentage{
    margin-left: 0.5rem;
    color: var(--blue-color-1);
}

.open:hover .UP_percentage{
    color: var(--blue-color-main);
}

.UP_collapseBody{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    font-size: clamp(15px, 1.5vw, 25px);
    background-color: rgba(169,169,169, 0.25);
    border-radius: 2.5%;
    color: white;
}

.collapseText{
    text-align: left;
    padding: 9px;
    padding-top: 5px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.blurb{
    margin: 5%;
    text-align: center;
    font-size: clamp(15px, 1.5vw, 20px);
}

.descriptor-carousel{
    display: flex;
    height: 33.2vh;
    /* min-height: 25vh; */
    width: 100%;
    align-items: center;
    justify-content: center;
}

.descriptorCarouselItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.descriptor-carousel .carousel-item{
    height: 100%;
}

.descriptor-carousel .carousel-inner{
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.descriptor-carousel .carousel-control-prev{
    height: 100%;
    width: 5%;
    left: 5%;
    top: 0%;
}

.descriptor-carousel .carousel-control-next{
    height: 100%;
    width: 5%;
    right: 5%;
    top: 0%;
}

.top3{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.userProfile-track-container{
    width: 100%;
    font-size: clamp(15px, 1vw, 20px);
    text-align: center;
}

.userProfile-track-container:hover{
    cursor: pointer;
}

.collapseImage{
    height: 6vw;
    width: 6vw;
    border-radius: 10%;
}

.UP_trackArtist{
    color: var(--blue-color-1);
    max-height: max(5vh, 45px);
    overflow-y: hidden;
}
.UP_trackName{
    max-height: max(5vh, 45px);
    overflow-y: hidden;
}

.UP_trackName{
    max-height: max(5vh, 45px);
    overflow-y: hidden;
}

@media (max-width:780px) {
    .userProfile-title .under-bar{
        width: 150px;
    }
    .quickStats{
        flex-direction: column;
    }
    .stats{
        width: 80vw;
    }
    .columns{
        flex-direction: column;
    }
    .column{
        width: 100%;
    }
    .UP_icon{
        margin-left: 0px;
        margin-bottom: 35px;
        margin-top: 35px;
    }
    .stats_title{
        margin-bottom: 10px;
    }
    .collapseImage{
        height: 50px;
        width: 50px;
    }
    .descriptor-carousel{
        height: 27vh;
    }
    .collapseBody{
        width: 95%;
        margin: 0px;
    }
}